.mypage
  .mypage__inner
    .mypage__inner__header
      .mypage__inner__header__topic-id
        fitO_id:
        .mypage__inner__header__topic-id__value
          13
      .mypage__inner__header__topic
        name:
        .mypage__inner__header__topic__value
      .mypage__inner__header__topic
        slack:
        .mypage__inner__header__topic__value
