-# ===================================
-# 質問編集フォーム
-# ===================================
.post_form#mark_down
  .form
    = form_with model: @post, url: {controller: 'input_posts', action: 'update' },local: true do |f|
      .form__title
        = f.text_field :title, placeholder: "タイトル（質問したいこと）",class: "title_field"
      .form__content
        = f.text_area :content, placeholder: "マークダウン記法を用いてコードブロックを挿入することができます。画像を投稿する場合はgyazoのURLを貼り付けてください。",class: "content_field"
      .form__btns
        .preview_btn
          プレビュー
        = f.submit
.post_form#preview.hidden
  .form
    .form__title
      .title_field#preview_title
        プレビュー表示中
    .form__content
      .content_field#preview_content
    .form__btns
      #md_btn
        記入する
  -# ===================================
  -# ヒント
  -# ===================================
  .hint-box.none
    .cancel
      close
    .hint-inner
      .hint-title
        ●ヘッダー
      .hint-content
        %p
          ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
        %p
          ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
        %p
          ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
        %p
          ○[エディット]・・・ユーザー情報の変更ができます。
        %p
          ○[ログアウト]・・・ログアウトします。
      .hint-title
        ●コンテンツ
        .hint-content
          %p
            ○[タイトル]・・・タイトルを入力してください。レッスンNo等は、自動付与されるため不要です。
          %p
            ○[内容]・・・質問内容を記載してください。
          %p
            ○[画像の貼り付け]・・・画像を投稿する場合は、gyazoのurlを貼り付けてください。
          %p
            ○[コードの挿入について]・・・ マークダウン記法を用いて、コードブロックの挿入ができます。
          %p
            ○[プレビュー]・・・マークダウン の確認ができます。投稿前に確認しましょう。



