/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "modules/reset";
@import "forms";
@import "modules/flash";
@import "posts";
@import "modules/header";
@import "lessons";
@import 'rouge';

* {
  box-sizing: border-box;
  overflow: scroll;
}

a{text-decoration: none;
color: black;}
.wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;

  .main-content{
    position: absolute;
    top:0;
    padding-top: 70px;
    // margin-bottom: 50px;
    width: 100%;
    height:calc(100% - 50px);
    overflow:scroll;
  }
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: solid;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    .footer-btn{
      button{
        margin-top: 7px;
        height: 30px;
        width: 200px;
        border: solid;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        margin-left:10px;
      }
    }

    .home{
      margin-left: 10px;
      margin-top: 7px;
      height: 30px;
      width: 200px;
      border: solid;
      border-radius: 10px;
      text-align: center;
      color: black;
      background-color: white;
      position: relative;

      a{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: default;
      }
    }
  }
}