/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "modules/reset";
@import "mixin/forms";
@import "modules/flash";
@import "devise";
@import "users_history";
@import "user_ranking";
@import "posts";
@import "modules/header";
@import "lessons";
@import 'rouge';

* {
  box-sizing: border-box;
  overflow: scroll;
}

a{text-decoration: none;
color: black;}
.wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left,black,blue);

  .main-content{
    position: absolute;
    top:0;
    padding-top: 70px;
    width: 100%;
    height:calc(100% - 50px);
    overflow:scroll;
  }
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    .footer_btns{
      margin: 0 auto;
      width: 700px;
      display: flex;
      justify-content: space-between;
      .footer-btn{
        button{
          margin-top: 7px;
          height: 30px;
          width: 160px;
          border: solid 1px;
          border-radius: 10px;
          text-align: center;
          font-size: 15px;
          @media screen and (max-width:700px){
          margin-top: 7px;
          height: 30px;
          width: 100px;
          border: solid 1px;
          border-radius: 10px;
          text-align: center;
          font-size: 10px;
          }
        }
      }

      .home{
        margin-top: 7px;
        height: 30px;
        line-height: 30px;
        width: 160px;
        border: solid 1px;
        border-radius: 10px;
        text-align: center;
        color: black;
        background-color: white;
        position: relative;
        @media screen and (max-width:700px){
          margin-top: 7px;
          height: 30px;
          line-height: 30px;
          width: 100px;
          border: solid 1px;
          border-radius: 10px;
          text-align: center;
          color: black;
          background-color: white;
          position: relative;
          font-size: 10px;

        }
        a{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          cursor: default;
        }
      }
    }
  }
  .hint-box{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background-color: pink;
    position: fixed;
    top:200px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 7px;
    z-index: 1000;
    

    .cancel{
      border: solid red;
      color: red;
      height: 30px;
      width: 80px;
      border-radius: 50px;
      text-align: center;
      line-height: 26px;
      margin-left: 510px;
      margin-top: 5px;
    }
    .hint-inner{
      height: 100%;
      width: 100%;
      padding-top: 10px;
      .hint_title{};
      .hint-content{
        margin-left: 15px;
      }
    }
  }
  
}