%p
  Hello #{@resource.email}!
%p 以下のリンクからパスワードを変更してください。
%p= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token)
%p リクエストしていない場合は、このメールを無視してください。
%p 上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません
