- if user_signed_in?
  .link_to_posts
    = link_to "掲示板を見る",lessons_path
  .teccamp
    TEC CAMP
    = link_to "","https://master.tech-camp.in/"
- if current_user.admin == true
  = "管理者権限メニュー----------------------------------------------------------------------------------------------------------------------------------------------------------------"
  .link_to_posts
    = link_to "紐づくユーザーのない投稿を削除する",posts_clear_posts_path,method: :delete
  -# ===================================
  -# ヒント
  -# ===================================
.hint-box.none
  .cancel
    close
  .hint-inner
    .hint-title
      ●ヘッダー
    .hint-content
      %p
        ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
      %p
        ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
      %p
        ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
      %p
        ○[エディット]・・・ユーザー情報の変更ができます。
      %p
        ○[ログアウト]・・・ログアウトします。
    .hint-title
      ●コンテンツ
      .hint-content
        %p
          ○[掲示板を見る]・・・投稿された掲示板を確認できます。

              
              

            

